* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Kanit', sans-serif;
    background-color: #181D31;
}

header {
    height: 5.2rem;
    padding: 5px 30px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    padding: 15px 25px;
}

header .btn button {
    font-size: 18px;
    color: #181D31;
    font-weight: 400;
    padding: 8px 10px;
    background: #E6DDC4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 3px #678983;
}

.home {
    width: 100%;
    height: 78vh;
    background-image: url('imagenes/codigo.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #EEEEEE;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px grey, 6px 6px black;
}

h2 {
    color: #678983;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.footer {
    background-color: #678983;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
}
.logo-content {
    display: flex;
    align-items: center;
}
.logo-footer {
    width: 130px;
    margin-right: 15px;
}
.title-footer {
    margin-left: 4rem;
    color: #181D31;
}
.title-footer span {
    display: flex;
    justify-content: center;
}
.pf-footer {
    margin: 0;
    text-align: right;
    color: #181D31;
    font-size: 20px;
    letter-spacing: 1px;
}