* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181D31;
}

header {
    height: 5.2rem;
    padding: 5px 30px;
}

#navbar {
    display: flex;
    justify-content: space-between;

}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    display: block;
    padding: 1.2rem 1.5rem;
    text-decoration: none;
}

header .btn button {
    font-size: 16px;
    color: #181D31;
    font-weight: 600;
    padding: 10px;
    background: #E6DDC4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 3px #678983;
}

.btn-header:active {
    box-shadow: none;
    transform: translate(2px, 3px);
}

.color-crema {
    animation: movimiento 1.5s ease-in;
}

@keyframes movimiento {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}

.color-azul {
    animation: movimiento2 1.7s ease-in;
}

@keyframes movimiento2 {
    from {
        transform: translateY(-90%);
    }
    to {
        transform: translateY(0);
    }
}

.home {
    width: 100%;
    height: 78vh;
    background-image: url('imagenes/codigo.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #EEEEEE;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 2px 2px grey, 6px 6px black;
}

.contenido-programacion {
    color: #678983;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.grid {
    display: flex;
    gap: 15rem;
    margin: 20px;
}

.grid-item {
    max-width: 400px; 
    height: 450px; 
    background-color: #E6DDC4;
    border: 5px solid #678983;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.card-content {
    text-align: center;
}

.card-content a {
    text-decoration: none;
}

.card-text {
    color: #181D31;
    font-size: 18px;
    font-weight: 400;
    margin: 1.5rem 1rem;
}

.card-btn1 {
    background-color: #181D31;
    color: white;
    padding: 8px 30px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px #678983;
    cursor: pointer;
}
.card-btn2 {
    background-color: #181D31;
    color: white;
    padding: 8px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px #678983;
    cursor: pointer;
}

.card-btn1:active, .card-btn2:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.footer {
    background-color: #678983;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
}
.logo-content {
    display: flex;
    align-items: center;
}
.logo-footer {
    width: 110px;
}
.title-footer {
    margin-left: 3.5rem;
    color: #181D31;
    font-size: 15px;
}
.title-footer span {
    display: flex;
    justify-content: center;
}
.pf-footer {
    margin: 0;
    text-align: right;
    color: #181D31;
    font-size: 16px;
    font-weight: 600;
}